body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #2d2928;
    background-color: #f4f4f4 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #2fcc71;
    max-width: 40%;
    margin: 20px auto;
}

/* CONTAINERS */

.container {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.four {
    width: 32.26%;
    max-width: 32.26%;
}


/* COLUMNS */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .col:first-of-type {
        margin-left: 0;
    }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input {
    display: none;
}

.form label {
    position: relative;
    color: #2d2928;
    font-size: 16px;
    text-align: center;
    align-items: center;
    line-height: 207%;
    display: block;
    cursor: pointer;
    border: 1px solid #2d2928;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    width: 17%;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
    border: 1px solid hsl(94, 99%, 37%);
    background-color: #f4f4f4;
    border-radius: 8px;
}




.submit {
    padding: 15px 60px;
    display: inline-block;
    border: none;
    margin: 20px 0;
    background-color: #2fcc71;
    color: #fff;
    border: 2px solid #2d2928;
    font-size: 18px;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.button-bar {
    padding: 2rem;
    background-color: #f4f4f4;
    position: sticky;
    bottom: 0;
}

/* Animations */
@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateY(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 821px) {
    .tablet-full {
        width: 100% !important;
    }

    .mg-left-span {
        margin-left: 0px !important;
    }

    .tablet-widht {
        width: 17% !important;
    }
}
